<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>List of all books</title>
  <style type="text/css">
    body {
        padding: 50px;
    }

    .menu {
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
    }

    .menu a {
        text-decoration: none;
        color: steelblue;
        font-weight: bold;
    }

        .menu a:hover {
        color: darkblue;
    }
  </style>

</head>
<body>
<div class="menu">
  <div><a href="/books">Books</a></div>
  <div><a href="/genres">Genres</a></div>
  <div><a href="/authors">Authors</a></div>
</div>
<hr>
<h3>Main menu</h3>
  </tbody>
</table>
</body>
</html>
